
.Titulo{
    color: #2b2beb;
}
.sesion1{
    display: grid;
    grid-template-columns: auto ; 
}



a:link, a:visited {
    background-color:  #2b2beb;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}
a:hover {
    color: hotpink;
  }
.navegar{
    display: flex;
    justify-content: center;
}





.sesion3{
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 800px) {
    .sesion3{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 500px) {
    .sesion3{
        display: grid;
        grid-template-columns: auto;
    }
}

.sesion4{

display: grid;
grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 800px) {
    .sesion4{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 500px) {
    .sesion4{
        display: grid;
        grid-template-columns: auto;
    }
}


 
.servicios3cuerpo {
    display: grid;
    grid-template-columns: auto auto auto;
   

}

@media only screen and (max-width: 800px) {
    .servicios3cuerpo{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 500px) {
    .servicios3cuerpo{
        display: grid;
        grid-template-columns: auto;
    }
}


.servicios32cuerpo{
    display: grid;
    grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 800px) {
    .servicios32cuerpo{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 500px) {
    .servicios32cuerpo{
        display: grid;
        grid-template-columns: auto;
    }
}





.navegar2 {
    display: flex;
    justify-content: center;
   
}
.navegar3 {
    display: flex;
    justify-content: center;
   
}

.navegar4 {
    display: flex;
    justify-content: center;
}
